---
layout: page
# The Category layout
---

{% if site.lang == "en" %}
{% capture link1 %}{{ site.url }}{% endcapture %}
{% else %}
{% capture link1 %}{{ site.baseurl_root }}/{{site.lang}}{% endcapture %}
{% endif %}

{% assign platforms = page.posts | group_by: "platform" | sort: "name" %}

<div id="page-category">
  <h1 class="pl-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ site.data.locales[site.lang].post_categories[page.title] }}
    <span class="lead text-muted pl-2">{{ page.posts | size }}</span>
  </h1>

  {% assign easy = page.posts | where: "difficulty", "easy" %}
  {% assign medium = page.posts | where: "difficulty", "medium" %}
  {% assign hard = page.posts | where: "difficulty", "hard" %}

  {% if easy.size > 0 or medium.size > 0 or hard.size > 0 %}
  <div style="display: flex; flex: content; width: 100%; flex-direction: row; column-gap: 15px;">
    <div>
      <div class="post-difficulty difficulty-easy">
        Easy: <b>{{easy.size}}</b>
      </div>
    </div>
    <div>
      <div class="post-difficulty difficulty-medium">
        Medium: <b>{{medium.size}}</b>
      </div>
    </div>
    <div>
      <div class="post-difficulty difficulty-hard">
        Hard: <b>{{hard.size}}</b>
      </div>
    </div>
  </div>
  {% endif %}

  {% for platform in platforms %}
  {% assign postsByPlatform = platform.items | sort: "number" %}
  <ul class="post-content pl-0">
    <h3>{% if platform.name != "" %}{{platform.name}}{% else %}General{% endif %}</h3>
    {% for post in postsByPlatform %}
    <li class="d-flex justify-content-between pl-md-3 pr-md-3">
      {% if post.difficulty %}
      {% if post.difficulty == 'medium' %}
      {% assign dif="post-difficulty difficulty-medium"%}
      {% elsif post.difficulty == 'hard' %}
      {% assign dif="post-difficulty difficulty-hard"%}
      {% else %}
      {% assign dif="post-difficulty difficulty-easy"%}
      {% endif %}
      <div style="margin-right: 10px; width: 25px;">
        <div class="{{dif}}">
          {{post.difficulty | slice: 0}}
        </div>
      </div>
      {% endif %}
      <a href="{{link1}}{{ post.url | relative_url }}">{% if post.number %} #{{post.number}}{% endif %}{% if
        post.number or post.platform %}: {% endif %}{{ post.title }}</a>
      <span class="dash flex-grow-1"></span>
      {% include datetime.html date=post.date wrap='span' class='text-muted small' %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>