---
layout: page
# The Category layout
---

{% assign projects = site.projects | reverse %}

<div id="post-list">
  {% for project in projects %}
  {% if forloop.first %}
  <!-- {{ project.url | relative_url }} -->
  <a href="{{ project.url | relative_url }}" class="card-wrapper">
    <div class="card post-preview">
      <div style="display: flex; flex-direction: row;">
        <div style="height: 95%; width: 450px; justify-content: center;">
          <img src="{{project.image.path}}" style="height: 100%; width: 100%; object-fit: contain"
            alt="{{project.image.alt}}" />
        </div>
        <div class="card-body">
          <h1 class="card-title">
            {{project.title}}
          </h1>
          <div class="card-text post-content">
            <p>
              {% include no-linenos.html content=project.content %}
              {{ content | markdownify | strip_html | truncate: 250 | escape }}
            </p>
          </div>

          <div class="post-meta text-muted d-flex" style="justify-content: flex-end;">
            <div class="pin">
              <i>{{project.proglang}}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% else %}
  <h1>{{project.title}}</h1>
  {% endif %}
  {% endfor %}
</div>